@import '../../variables';

:host{
    margin: 1.5rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
}
*{
    font-family: $secondaryFont;
}

img{
    height: 7rem;
    width: auto;
    padding: 0.4rem;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.4rem;
    transition: 0.4s;
    
    &:hover {
        cursor: pointer;
        background-color: lighten($accent2,20%);
    }
}   
.source{
    font-size: 0.8rem;
    a{
        color: black;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
    & span {
        font-size: 0.6rem;
        font-style: italic;
    }
}