@import '../../variables';

:host{
    margin: 1.5rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
}
*{
    font-family: $secondaryFont;
}

img{
    height: 7rem;
    object-fit: cover;
    padding: 0.4rem;
}


.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__top{
        border-radius: 0.4rem;
        transition: .4s;
    }
    &:hover {
        cursor: pointer;
        & .card__top {
            background-color: lighten($accent2,20%);
        }
    }
}   
.source{
    font-size: 0.7rem;
    a{
        color: black;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
    & span {
        font-size: 0.5rem;
        font-style: italic;
    }
}