@import '../../variables';

nav{
    width: 100vw;
    height: 3rem;
    padding-top: 1.5rem;
    ul{
        height: 3rem;
        display: flex;
        justify-content: flex-end;
        list-style: none;
        & li {
            margin-right: 2.5rem;
            line-height: 2rem;
            
            & a{
                text-decoration: none;
                color: #000;
                &:hover{
                    text-decoration: 1px underline black;
                }
                
            }
            & button{
                width: 4rem;
                height: 2rem;
                background-color: $accent;
                border-radius: 5px;
                color: #fff;
                border: none;
                cursor: pointer;
                z-index: 1
            }
        }
    }
}
.active {
    color: $primary !important;
    &:hover{
        text-decoration: none !important;
        cursor: default;
    }
    
}
img{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    &:hover{
        border-radius: 50%;
        background-color: $accent2;
        @include hoverEffect;
    }
}